<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>ReDoomEd_Icon_OSX.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.twilightedge.ReDoomEd</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>RDEd</string>
	<key>CFBundleShortVersionString</key>
	<string>0.92.1 BETA1</string>
	<key>CFBundleVersion</key>
	<string>0006</string>
	<key>NSMainNibFile</key>
	<string>DoomEd_Cocoa</string>
	<key>NSPrincipalClass</key>
	<string>RDEApplication</string>
</dict>
</plist>
